*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
.border-danger{
	border-color: #FF0000 !important;
}
.bg-danger{
	background: #FF0000;
}
.border-primary {
    border-color: #2E64FE !important;
}
.text-primary{
	color: #2E64FE;
}
.text-gander{
	color: #2E64FE;
}
.border-3 {
    border-width: 3px !important;
}

.top a{
	text-decoration: none;
}
.menu{
	height: 45px;
}
.menu ul{
	height: 50px;
	color: #fff;
}
.menu ul li{
	margin-left: 60px;
	display: block;
	float: left;
	color: #fff;
}
.menu ul li a{
	color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.menu ul a:hover{
	color: #F4FA58;
	background: red;
}
.search{
	padding-top: 4%;

}
.search .form-control{
	width: 300px;
}
.search .btn{
	background: red;
	color: #fff;
	margin-left: -11px;
	width: 20px;
}
.camera1{
	/* padding-right:  10px; */
	margin: auto;
	
}
